/ get new random question section with button and textarea
-# .section
-#   .columns
-#     .column
-#       %h1 New Question
-#       %form{ action: "/questions", method: "post" }
-#         %input{ type: "submit", value: "Submit" }


/ ask question form with textarea and button
.section
  .columns
    .column
      .card
        .card-content
          %h1 Ask a Question
          %form{ action: "/questions", method: "post" }
            %textarea.textarea{ name: "question[body]", rows: "3" }
            .s10
            %input.button{ type: "submit", value: "Submit" }

/ response - question
- if question
  .section
    .columns
      .column
        .card
          .card-content
            %p #{question.body}


/ get all questions
-# .section
-#   .columns
-#     .column
-#       %h1 Questions
-#       %ul
-#         - @questions && @questions.each do |question|
-#           / render a card
-#           %li
-#             .card
-#               .card-content
-#                 %h3
-#                   %a{ href: "/questions/#{question.id}" } #{question.title}
-#                 %p #{question.body}

