.s10 { height: 10px; }
.s20 { height: 20px; }
.s30 { height: 30px; }
.s40 { height: 40px; }
.s50 { height: 50px; }
.s70 { height: 70px; }
.s100 { height: 100px; }

textarea.textarea.question {
  font-size: 1.7em;
}

.card-content p.answer {
  font-size: 2em;
}

/* .card-content.answer p {
  font-size: 1.5em;
} */

textarea.textarea.question {
  /* medium height textarea */
  height: 100px;
  min-height: 100px;
}
